
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/postodo.css" rel="stylesheet"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
<title>등록</title>
</head>
<body class="registerBody">

<!-- container//S -->
<div class="container registerContainer">
	<!-- row main//S -->
	<div class="row main registerMain">
		<!-- main login//S -->
		<div class="registerEmpty"></div>
		<div class="main-login main-center-register">
			<h5>저희 서비스에 회원 가입하시는 것을 환영합니다.</h5>
				<!-- form//S -->
				<form class="" method="POST" action="#">
					<!-- form group - Name //S -->
					<div class="form-group-register">
						<label for="userId" class="col-sm-2 control-label">ID</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="userId" id="userId" placeholder="ID를 입력하세요"/>
							</div>
						</div>
					</div>
					<!-- form group - Name//E -->
					
					<!-- form group - Email//S -->
					<div class="form-group-register">
						<label for="email" class="col-sm-2 control-label">Email</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="email" id="email" placeholder="Email을 입력하세요."/>
							</div>
						</div>
					</div>
					<!-- form group - Email//E -->
					
					<!-- form group - username//S -->
					<div class="form-group-register">
						<label for="username" class="col-sm-2 control-label">이름</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="username" id="username" placeholder="이름을 입력하세요." />
							</div>
						</div>
					</div>
					<!-- form group - username//E -->
					
					<!-- form group - password//S -->
					<div class="form-group-register">
						<label for="password" class="col-sm-2 control-label">비밀번호</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="password" class="form-control" name="password" id="password" placeholder="비밀번호를 입력하세요." />
							</div>
						</div>
					</div>
					<!-- form group - password//E -->
					
					<!-- form group - confirm//S -->
					<div class="form-group-register">
						<label for="confirm" class="col-sm-2 control-label">비밀번호 확인</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="password" class="form-control" name="confirm" id="confirm" placeholder="동일한 비밀번호를 입력하세요." />
							</div>
						</div>
					</div>
					<!-- form group - confirm//E -->
					
					<div class="form-group-register">
						<a href="#" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">등록</a>
					</div>
										
				</form>
				<!-- form//E -->
		</div>
		<!-- main login//E -->
	</div>
	<!-- row main//E -->
</div>
<!-- container//E -->

</body>
</html>
